/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * adobe-clean:
 *   - http://typekit.com/eulas/00000000000000007735dac8
 *   - http://typekit.com/eulas/00000000000000007735dacd
 *   - http://typekit.com/eulas/00000000000000007735dad8
 *   - http://typekit.com/eulas/00000000000000007735dada
 *   - http://typekit.com/eulas/00000000000000007735dad4
 *   - http://typekit.com/eulas/00000000000000007735dad9
 * adobe-clean-display:
 *   - http://typekit.com/eulas/0000000000000000775d78cc
 * adobe-clean-serif:
 *   - http://typekit.com/eulas/00000000000000007735dac2
 *   - http://typekit.com/eulas/00000000000000007735dac3
 *   - http://typekit.com/eulas/00000000000000007735dac4
 *   - http://typekit.com/eulas/00000000000000007735dac6
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2026-04-24 10:54:05 UTC"}*/

@import url("../remote/p.typekit.net/p-f664add82a.css");

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/59b220/00000000000000007735dac8/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/59b220/00000000000000007735dac8/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/59b220/00000000000000007735dac8/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:optional;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/597099/00000000000000007735dacd/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/597099/00000000000000007735dacd/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/597099/00000000000000007735dacd/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:optional;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/55f17d/00000000000000007735dad8/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/55f17d/00000000000000007735dad8/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/55f17d/00000000000000007735dad8/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:optional;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/152d2a/00000000000000007735dada/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/152d2a/00000000000000007735dada/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/152d2a/00000000000000007735dada/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:optional;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/82b12f/00000000000000007735dad4/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/82b12f/00000000000000007735dad4/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/82b12f/00000000000000007735dad4/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:optional;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/9e2f3a/00000000000000007735dad9/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/9e2f3a/00000000000000007735dad9/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/9e2f3a/00000000000000007735dad9/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:optional;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean-serif";
src:url("https://use.typekit.net/af/ee82ef/00000000000000007735dac2/31/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/ee82ef/00000000000000007735dac2/31/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/ee82ef/00000000000000007735dac2/31/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
font-display:optional;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean-serif";
src:url("https://use.typekit.net/af/d4b8be/00000000000000007735dac3/31/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/d4b8be/00000000000000007735dac3/31/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/d4b8be/00000000000000007735dac3/31/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3") format("opentype");
font-display:optional;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean-serif";
src:url("https://use.typekit.net/af/230e77/00000000000000007735dac4/31/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/230e77/00000000000000007735dac4/31/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/230e77/00000000000000007735dac4/31/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("opentype");
font-display:optional;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean-serif";
src:url("https://use.typekit.net/af/b3309c/00000000000000007735dac6/31/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b3309c/00000000000000007735dac6/31/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b3309c/00000000000000007735dac6/31/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
font-display:optional;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"adobe-clean-display";
src:url("https://use.typekit.net/af/b204c3/0000000000000000775d78cc/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/b204c3/0000000000000000775d78cc/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/b204c3/0000000000000000775d78cc/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:optional;font-style:normal;font-weight:900;font-stretch:normal;
}

.tk-adobe-clean { font-family: "adobe-clean",sans-serif; }
.tk-adobe-clean-serif { font-family: "adobe-clean-serif",sans-serif; }
.tk-adobe-clean-display { font-family: "adobe-clean-display",sans-serif; }
